.home header {
  background: #1a2230;
}

.wrapper {
  background: linear-gradient(to bottom, #040609, #300621, #212c3d) !important;
}
.home label {
  text-transform: capitalize;
  letter-spacing: 0.1em;
  color: #92abcd;
}
